<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/fragments :: page_head('Forgot Password')"></head>
<body>
<div class="container-fluid">
	<div th:replace="views/navigation :: header_menu('none')"></div>

	<div class="row mt-3 mb-5 pb-3">
		<div class="text-center">
			<h2>Forgot Password</h2>
		</div>

		<div class="col-md-6 mx-auto text-center">
			<form th:action="@{/user/forgot-password}" method="POST" class="mx-3 my-3">
				<div th:if="${error != null}">
					<p class="text-danger">[[${error}]]</p>
				</div>
				<div th:if="${message != null}">
					<p class="text-warning">[[${message}]]</p>
				</div>
				<div class="border border-secondary rounded p-3">
					<div>
						<p>The reset password link will be sent to your email.</p>
					</div>
					<div>
						<input type="email" name="email" class="form-control" placeholder="Enter your e-mail"
							   required="required" autofocus="autofocus" />
					</div>
					<div class="my-2">
						<input type="submit" value="Send" class="btn btn-primary" />
					</div>
				</div>
			</form>
		</div>

	</div>

	<div th:replace="views/navigation :: footer_menu"></div>
</div>	
</body>
</html>