<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/fragments :: page_head('Reset Password')"></head>
<body>
	<div class="container-fluid text-center">
		<div th:replace="views/navigation :: header_menu('none')"></div>
		<div>
			<h2>Reset Your Password</h2>
		</div>

		<div class="col-md-6 mx-auto text-center">
			<form th:action="@{/user/reset-password}" method="POST" class="mx-3 my-3">
				<input type="hidden" th:value="${token}" name="token" />
				<div class="border border-secondary rounded p-3">
					<div class="my-2">
						<input type="password" name="password" placeholder="Enter your new password"
							   id="password"
							   class="form-control"
							   minlength="8" maxlength="15" required="required" autofocus="autofocus"
							   oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"/>
					</div>
					<div class="my-2">
						<input type="password" placeholder="Confirm your new password"
							   id="confirmPassword"
							   class="form-control" oninput="checkPasswordMatch(this)"
							   minlength="8" maxlength="15" required="required"/>
					</div>
					<div class="my-3">
						<input type="submit" value="Change Password" class="btn btn-primary" />
					</div>
				</div>
			</form>
		</div>

		<div th:replace="views/navigation :: footer_menu"></div>
	</div>
</body>
<script type="text/javascript" th:src="@{/js/common_user_form.js}"></script>

</html>