<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <style>
        .details {
            border-bottom: 1px dashed;
            padding-bottom: 10px;
        }

        .content {
            background-color: #c8cace;
            padding: 15px 80px 15px 80px;
            border-radius: 45px;
        }

        ul,
        li {
            list-style-type: none;
            margin: 0;
            padding: 2px;
        }

        .container {
            padding: 10px;
        }

        .salutation {
            margin: 3px auto;
        }
    </style>
</head>

<body>
<div class="container">
    <p th:text="'Hi ' + ${E_GREETING} + ','"></p>
    <p> Thank you for your donation.  </p>
    <div class="content"> <span class="details"> <i>Details of your donation:</i> </span>
        <ul>
            <li> <p th:text="'Project name: ' + ${E_PROJECT_NAME}"></p> </li>
            <li> <p th:text="'Amount donate: ' +
            ${#numbers.formatDecimal(E_AMOUNT, 3, 'WHITESPACE', 2, 'COMMA')} + ' ' +
            ${E_CURRENCY}"></p> </li>
        </ul>

    </div>
    <p>Please do not reply to this message.</p>
    <p class="salutation">Best Regards,</p> <span>Donation App Team</span>
    <footer>
        <p> <b>CONFIDENTIALITY:</b> This e-mail and any attachments are confidential and may be privileged. If you
            are not a named recipient, please notify the administration at
            <a th:href="${E_SUPPORT_LINK}"> mailto:&nbsp </a><i th:text="${E_SUPPORT}"></i> immediately and do not disclose
            the contents to another person, use it for any purpose or store or copy the information in any
            medium.
    </footer>
</div>
</body>

</html>