S<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <style>
        .details {
            border-bottom: 1px dashed;
            padding-bottom: 10px;
        }

        .content {
            background-color: #c8cace;
            padding: 15px 80px 15px 80px;
            border-radius: 45px;
        }

        ul,
        li {
            list-style-type: none;
            margin: 0;
            padding: 2px;
        }

        .container {
            padding: 10px;
        }

        .salutation {
            margin: 3px auto;
        }
    </style>
</head>

<body>
<div class="container">
    <p th:text="'Hi ' + ${E_GREETING} + ','"></p>
    <p> You have requested to reset your password. Kindly click on below link to reset your account. </p>
    <div class="content">
        <p th:text="'Your username: ' + ${E_USERNAME}"></p>
        <span> To reset your password, go to: <a th:href="${E_LINK}">Reset password</a> </span>
    </div>
    <p>Please do not reply to this message.</p>
    <p class="salutation">Best Regards,</p> <span>Donation App Team</span>
    <footer>
        <p> <b>CONFIDENTIALITY:</b> This e-mail and any attachments are confidential and may be privileged. If you
            are not a named recipient, please notify the administration at
            <a th:href="${E_SUPPORT_LINK}">mailto:&nbsp</a><i th:text="${E_SUPPORT}"></i> immediately and do not disclose
            the contents to another person, use it for any purpose or store or copy the information in any
            medium.
    </footer>
</div>
</body>

</html>